/* Styles */
#app {

}

.should-login-container{
    display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.should-login-container .row{
    margin: 0 auto;
}

.should-login-container .card{
  color:#fff;
  cursor:pointer;
}

.auth-panel img.login-img{
    width: 40px;
    height: 40px;
    margin-top: 11px;
    display: inline-block;
    position: absolute;
}
.auth-panel .login-username{
    margin-left:50px;
}

.auth-panel .logout{
    font-size:12px;
    margin-right:10px;
    text-decoration:underline;
    cursor:pointer;
}


