/* Styles */
#app {

}

.should-login-container{
    display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.should-login-container .row{
    margin: 0 auto;
}

.should-login-container .card{
  color:#fff;
  cursor:pointer;
}

a.active {
}

nav {
}
